/* src/Navbar/Navbar.css
.navbar-root {
    flex-grow: 1;
}

.navbar-title {
    flex-grow: 1;
} */

.navbar {
    background-color: #000000;
    padding: 1rem;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-item a {
    color: white;
    text-decoration: none;
  }
  